/* Bootstrap CSS */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic);

html {
	font-family: 'Lato', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #040320;
	font-family: 'lato';
	min-height: 600px;
}

h1,h2,h3,h4,h5,h6,p {
	font-weight: 100;
	color: white;
}

h1 {
	font-size: 5em;
	text-transform: uppercase;
}
h3 {
	font-size: 2em;
}

.btn {
	font-weight: 100;
}

.label {
	display: inline;
	padding: .2em .6em .2em;
	font-size: 50%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	font-weight: 100;
	margin-left: 10px;
}

.glyphicon {
	color: #eb4a60;
}

.emptystars {
	color: #999999;
}

/*navbar style*/

.navbar-movietime {
	background-color: #352140;
}

.navlogo {
	height: 40px;
	padding-top: 10px;
	padding-left: 15px;
	float: left;
}

.navtitle {
	float: left;
	padding: 15px 15px;
	font-size: 22px;
	line-height: 20px;
	height: 50px;
	text-transform: uppercase;
}

.navbar-nav>li>a,  .navbar-nav>li>a:focus{
	color: white;
	text-decoration: none;
}

.navbar-nav>li>a:hover{
	color: white;
	text-decoration: none;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: #271a30;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: #271a30;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background-color: #f2f2f2;
}

.icon-bar {
	background-color: white;
}

@media (max-width: 767px){
	.navbar-nav .open .dropdown-menu>li>a {
		color: white;
		font-weight: 100;
	}
	.navbar-nav .open .dropdown-menu>li>a:hover {
		color: #352140;
		font-weight: 400;
	}
}

/*mainbody style*/

a, a:focus, a:hover {
	color: white;
	text-decoration: none;
	font-weight: 100;
}

.main-nav>li>a:hover {
	color: white;
	text-decoration: none;
	border-bottom: 2px solid #eb4a60;
}

.header {
	text-align: center;
}

.mainlogo {
	margin-top: 100px;
	width: 150px;
}

ul.main-nav {
	padding: 2em 0;
	font-size: 1.5em;
}

li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

@media (max-width: 767px){
	h1 {
		font-size: 3em;
	}

	li{
		display: block;
		padding: 10px 0;
	}
}

a.active {
	border-bottom: 2px solid #eb4a60;
}

section {
	background-color: #040320;
}

img.desaturate { 
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%); filter: grayscale(100%); 
}


/*movielist section*/

.movielist {
	text-align: left;	
}

.movieblock {
	margin-top: 20px;
	margin-bottom: 20px;
}

.movielist h2 {
	font-size: 2em;
}

.movielist h3 {
	font-size: 2.5em;
	margin-top: 0;
}

.movieinfo h4 {
	margin: 20px 0;
}

/*footer section*/

.footer {
	height: 50px;
}

.footer>h4 {
	padding-bottom: 20px;
}

/*button section*/

.btn-over {
	color: #fff;
	background-color: #666666;
	border-color: #666666;
	pointer-events: none;
	margin-top: 10px;
	margin-right: 5px;
}

.btn-over:hover, .btn-over:focus, .btn-over:active, .btn-over.active, .open>.dropdown-toggle.btn-over{
	color: #fff;
	background-color: #666666;
	border-color: #666666;
	pointer-events: none;
	margin-top: 10px;
	margin-right: 5px;
}

.btn-feedback {
	color: #fff;
	background-color: #871951;
	border-color: #871951;
	margin-top: 10px;
	margin-right: 5px;
}

.btn-feedback:hover, .btn-feedback:focus, .btn-feedback:active, .btn-feedback.active, .open>.dropdown-toggle.btn-feedback{
	color: #fff;
	background-color: #6b1544;
	border-color: #6b1544;
	margin-top: 10px;
	margin-right: 5px;
}

.btn-moreinfo {
	color: #fff;
	background-color: #040320;
	border-color: #871951;
	border-width: 2px;
	margin-top: 10px;
}

.btn-moreinfo:hover, .btn-moreinfo:focus, .btn-moreinfo:active, .btn-moreinfo.active, .open>.dropdown-toggle.btn-moreinfo{
	color: #fff;
	background-color: #040320;
	border-color: #6b1544;
	border-width: 2px;
	margin-top: 10px;
}

/*modal section*/

.modal-content {
	background-color: #871951; 
}

.modal-title {
	font-size: 2em;
	font-weight: 100;
}

.form-group label{
	color: #fff;
	font-weight: 100;
	font-size: 1.5em;
}

.radio label {
	color:#fff;
	font-weight: 100;
	font-size: 1.2em;
}

.modal-header {
	padding: 15px;
	border-bottom: 0px solid #e5e5e5;
	min-height: 16.42857143px;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 0px solid #e5e5e5;
}

.close {
	color: #fff;
	opacity: 0.8;
	text-shadow: 0 0 0 #fff;
	font-size: 30px;
}

.close:hover, .close:focus{
	color: #fff;
	opacity: 1;
}

.btn-modal {
	color: #fff;
	background-color: #352140;
	border-color: #352140;
}

.btn-modal:hover, .btn-modal:focus {
	color: #fff;
	background-color: #271a30;
	border-color: #271a30;
}

dl {
	color: #fff;
	font-weight: 100;
	font-size: 1.3em;
}

dt { 
	display:block; 
	float:left; 
	font-weight: 100;
	width:150px; 
	padding: 10px 5px;
	text-align: right;
}

dt:after{
	content:' :';
}

dd { 
	display:block;
	padding: 10px 0px;
}

.bg1 {
	height: 600px;
	padding-top: 75px;
	background-image: url("../image/polarbear_bg.png");
}

@media (max-width: 993px){
	.bg1 {
		height: 800px;
		padding-top: 0px;
		background-image: url("../image/polarbear_bg.png");
	}
}

